body{
    font-family: 'Roboto', sans-serif !important;
}
.logo{
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 220px;
    background: url('../interface/images/recortes/home/puntiagudo.png')top center no-repeat;
    // background: url('../casino/interface/images/recortes/home/puntiagudo.png')top center no-repeat;
    img{
        margin-top:5%;
        display: block;
        margin: 0 auto;
    }
}

#page-wrapper{
    border-left:  1px solid white;
}
.custom-login-panel{
    background: none !important;


    .custom-panel-heading{
        background: none !important;
        border:0px;
        .custom-panel-title{
            width: 90%;
            margin: 0 auto;
            border-bottom: 1px solid #fff;
            text-align: center;
            color: white;
            font-size: 22px;
            font-weight: 200;
            line-height: 1.5;
            padding-bottom: 3px;
        }
    }
    .custom-panel-body{
        .input-group-addon{
            background: none ;
            color: white;
        }
        .form-control{
            color: black;
            outline: none;
        }
        .form-control:focus, .form-control:active{
            box-shadow: none;
            border:1px solid white;
            background: none;
            color: white;
        }
    }
}
.custom-navbar-default{
    background:none !important;
    .custom-navbar-brand{
        padding-top: 5px !important;
        padding-left: 10px;
    }
    .custom-navbar-right{
        a{
            color: white;

        }
        li{
            .dropdown-user , .dropdown-alerts{
                background: @verde-oscuro;
            }
            .text-muted {
                color:white;
            }
            a:hover{
                
                color: @verde-oscuro;
            }
        }
        li>a:focus, .nav>li>a:hover{
        
            color:@verde-oscuro;

        }
        li:hover{
           
            .text-muted {
                color:@verde-oscuro;
            }
        }
    }
}
h1.page-header{
    color:white;
    font-weight: 200;
    font-family: 'Roboto', sans-serif !important;
}
.sidebar{
    background: #FFF;
    .sidebar-logo{
        background: @rojo;
        img{
            margin-top:5%;
            display: block;
            margin: 0 auto;
        }
    }
    ul li{
        border-bottom: 1px solid @verde-oscuro;
    }
    .nav>li>a{
        color: @verde-oscuro;
    }
}
.login-panel{
    margin-top:  20px;
}
.btn-success{
    background: @mostaza;
    color: @verde-oscuro;
    text-align: center;
    width: 200px !important;
    height: 40px;
    display: block;
    margin: 0 auto;
    border: 0px;
    float: none !important;
    font-size: 16px;
}
.btn-success:hover{
    background: @verde-oscuro;
    color: @mostaza;
    border: 1px solid #fff;
}
.alert-info{
    border: 1px solid white    ;
    background: none;
    color:white;
}
.panel-primary{
    .panel-heading{
        background: @gris-plomo !important;   
        border: 1px solid white;
    }
    a{
        color: @verde-oscuro;
    }
    a:hover{
        color: @gris-plomo;
    }
}
.panel-mostaza{
    .panel-heading{
        background: @mostaza !important;
        border: 1px solid white;
    }
    .huge{
        font-size: 28px;
        padding: 10px;
        text-overflow: ellipsis-word;
    }
    a{
        color: @verde-oscuro;
    }
    a:hover{
        color: @gris-plomo;
    }
}
.content-canvas{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
            max-height:768px !important;
    margin: 0 auto;
    canvas{
        position:relative !important;
        margin: 0 auto;
        display:relative;
        width:100%;
        max-height:768px !important;
    }
}
.sin-padding{
    padding-left: 0px !important;
    padding-right:  0px !important;
}
.create-salas{
    margin-top: 100px;
    width: auto;
    height: 0px;
    overflow: hidden;
    background: @rojo;
    overflow:hidden;
    padding:0px;
    border-radius: 5px;
    transform: translate3d(-250%, -00%, 299px) ;
    -webkit-transform: translate3d(-250%, -00%, 299px) ;
    -mox-transform: translate3d(-250%, -00%, 299px) ;
    -ms-transform: translate3d(-250%, -00%, 299px) ;
    transition:0.8s all ease-in;
    z-index:2;

    .close{
        color: #FFF;

        text-align: right;
        opacity: 1;
    }
    .close:hover{
        color: #FFF;
    }
    .input-group{
        margin-bottom: 10px;
        height: 35px;
        overflow:hidden;
        span{
            height: 35px;
            background: white;
            color: @rojo;
            border:0px;
            outline: 0px;
        }
        input[type="text"],input[type="number"],input[type="password"],select , select > option {
            height: 36px;
            -webkit-appearance: none;
            border: none;
            min-width: 180px;
            margin-left: -2px;
            border:0px solid;
            outline: 0px;
            margin-top: 1px;
            width: 98%;
        }

    }
    .label{
        background: white;
        color: @rojo;
        font-weight: 200;
    }
}
.poker {
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    height: 550px;
}
.playing{
    background: url(../interface/images/recortes/poker/mesa.png) center center no-repeat;
    height: 720px;
    /*background-size: 100%;*/
    position: relative;
    z-index:900;
    margin-top: 0px;


    .curpie{
        width: 100%;
        height: 200px;
        margin-top: 17px;
    }
    .men{
        background: url(../imagen/poker/dealer.png) center center no-repeat;    
    }
    .women{
        background: url(../imagen/poker/dealer-women.png) center center no-repeat;    
    }
    .player{
        height: 240px;
        overflow: hidden;
        position: relative;
        /*background:yellow;*/

        .name{
            display: block;
            width: 100%;
            color:white;
            h3{
                text-align: center;
                font-size: 12px;
            }
        }
        .img-profile{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            display: block;
            margin: 0 auto;
            border:5px dashed @rojo;
            background: @gris-plomo;
            .img-vacio{
                display: none;
            }
        }
        .money{
            width: 110px;
            height: 20px;
            background: @rojo;
            display: block;
            margin: 0 auto;
            position: relative;
            margin-bottom:5px;
            p{
                  padding:2px;
                font-size: 12px;
                color: white;
                text-align: center;
                &:before{
                    content:'Bs.';
                }
              
            }
        }
        .tiempo{
            width: 50px;
            height: 50px;
            position: relative;
            background: @rojo;
            color: white;
            border-radius: 50%;
            margin-top: -38px;
            margin-left: 40px;
        }
        .cartas{
            width: 100%;
            height: 60px;

            position: relative;
            margin-top: -60px;
            margin-bottom: 0px;
            .carta1, .carta2{
                float:right;
                margin-right: 5px;
                height: 60px;
                width: 40px;
                
                border-radius:5px;
            }
        }
        .thumbnail{
            display: none;
        }
    }
    .player1{
        margin-top: -20px;
    }
    .player2{
        margin-top: -20px;
        margin-left: -150px;
        .tiempo{
            margin-left: 31.5%;
            margin-top: -38px;
        }
        .cartas{
            margin-left: -80px;
        }
    }
    .player3{
        margin-left: -80px;
        margin-top: -110px;
        .tiempo{
            margin-left: 80px;
            margin-top: -49PX;
        }
        .cartas{
            margin-left: -40px;
        }
    }
    .player4{
        margin-top: -110px;
        margin-left: 40px;
        .tiempo{
            margin-left: 60px;
            margin-top: -48px;
        }
        .cartas{
            margin-left: -20px;
        }
    }
    .player5{
        .tiempo{
            margin-top: -48px;
            margin-left: 60px;
        }
        .cartas{
            margin-left: -20px;
        }
    }
    .player6{
        .tiempo{
            margin-top: -48px;
            margin-left: 60px;
        }
        .cartas{
            margin-left: -20px;
        }
    }
    .player7{
        .tiempo{
            margin-top: -48px;
            margin-left: 60px;
        }
        .cartas{
            margin-left: -20px;
        }
    }

    .player5 , .player6 , .player7{
        margin-top: -60px;
    }
}
.sidebar-game{
    /*width: 100%; */
    height: 100px;
    /* background: @mostaza; */
    /* border-left: 1px solid white; */
    /* overflow: hidden; */
    position: fixed;
    background-color: #731010;
    bottom: 0px;
    z-index: 999;
    border-top: 5px solid #B4A32C;
    h3{
        text-align: center;
        color: white;
        font-weight: 200;
    }
    .profile{
            display: block;
            margin: 0 auto;
            overflow: hidden;
            margin-top: 5px;
            float: left;
            border-radius: 100%;
            max-width: 85px;
            max-height: 85px;
        img{
            width: 100%;
            height: 100%;
            background: none;
        }
    }
    .saldo{
        color: white;
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
        font-weight: bold;
        float: left;
        width: calc(~"100% - 90px");
        text-overflow: ellipsis;
        height: 40px;
        overflow: hidden;
        white-space: nowrap;
    }
    .apost-resume{
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 5px;
        font-weight: bold;
        text-overflow: ellipsis;
        height: 40px;
        overflow: hidden;
        white-space: nowrap;
        width: 50%;
    }
    .nameprofile {
        color: white;
        font-size: 22px;
        text-align: center;
        padding-top: 10px;
        font-weight: 200;
        float: left;
        margin: 0;
        text-overflow: ellipsis;
        height: 40px;
        width: calc(~"100% - 90px");
        white-space: nowrap;
        overflow: hidden;
    }
    .btn{
        background: #96110d;
        color: white;
        font-weight: 200;
        font-size: 16px;
        border-radius: 0px;
        border: none;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .btn-center{
        display: block;
        margin: 0 auto;
        float: none;
        max-width: 200px;
    }
    .option-user {
        width: 98%;
        overflow: hidden;
        //margin: 20px auto;
        height: 100px;
        .izq{
            height: 40px;
            .btn-default {
                width: calc(~"33.3% - 20px");
                padding: 10px;
                margin: 7px;
                text-transform: uppercase;
                margin-top: 0px;
            }
        }
        .der {
            height: 50px;
            div {
               background-color: #2B2A26 !important;
                width: calc(~"25% - 20px");
                overflow: hidden;
                box-shadow: none;
                font-weight: 200;
                font-size: 14px;
                height: 40px;
                text-transform: uppercase;
                padding: 10px;
                margin: 5px;
                margin-top: 0px;
                border-top: 1px solid white !important;
                input {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 1px solid #9C9B97;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 200;
                }
            }
            
        }
    }
    #playerdata h3:hover {
        color: #B4A32C;
        cursor:pointer;
    }
    .content-chat{
        width: 98%;
        margin-left: 1%;
        max-height: 260px;
        min-height: 260px;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        .message{
            padding-left: 5px;
            padding-right: 5px;
            color:white;

            border-bottom: 1px solid white;
            margin-bottom: 5px;
            p{
                text-align: justify;
                word-wrap: break-word;
            }
            span{
                font-weight: bold;
                color: @rojo;
            }
            span.responder{
                color: @mostaza;
            }
        }

    }
    .text-message{
        width: 98%;
        margin-left: 1%;
        overflow:hidden;
        margin-top: 10px;
        .text{
            background: none;
            border: 1px solid white;
            color: white;
            min-height: 10px;
            width: 100%;
            padding-left: 3px;
            resize: none;
            height: 34px;
        }
    }
}
#torbo{
    z-index: 999;
}
#sales{
    background: @gris-plomo;
    padding: 10px;
    transition:1.2s all ease-in-out;
    border-radius:10px;
    margin-bottom:200px;
    .list-sales{
        width: 100%;
        height: 450px;
        border-radius:10px;
        color:white;
        .titulo{
            font-weight: bold;
            font-size: 20px;
        }
        tr > th{
            text-align: center;
            font-weight: 200;
            span{
                font-size: 18px;
                left: -10px;
                position: relative;
            }
        }
        tr:nth-of-type(odd){
            background: @rojo;
        }
    }

}
.sales-close{
    transform: translate3d(-10%, -180%, 299px);
    -webkit-transform: translate3d(-10%, -180%, 299px) ;
    -mox-transform: translate3d(-10%, -180%, 299px) ;
    -ms-transform: translate3d(-10%, -180%, 299px) ;
    height: 0px;
    overflow: hidden;
    padding: 0px !important;
    min-height:0px !important;
    margin-bottom:0px !important;
}
.create-salas-visible{
    transform: translate3d(-20%, -20%, 0px) !important;
    -webkit-transform:  translate3d(-20%, -20%, 0px) !important;
    -moz-transform: translate3d(-20%, -20%, 0px) !important;
    -ms-transform:  translate3d(-20%, -20%, 0px) !important;
    height: auto;
    overflow: auto;
    padding:12px;
    z-index: 1000;
}
.alert-info{
    position: relative;
    z-index: 11111;
}
.title-white{
    color: white;
}
.disponible{
    .player1 {
        margin-top: 80px;
    }
    .player2{
        margin-top: 60px;
    }
    .player3{
        margin-top: -80px;
    }
    .player4{
        margin-top: -90px;
    }
    .name{color: white;}
    .money , .tiempo , .cartas{
        display: none !important;
    }
    .img-profile{
        .imagenprofile{
            display: none !important;
        }
        .img-vacio{
            display: block !important;
        }
    }


}
.alert-reward{
    background: #731010;
    position: relative;
    top: 145px;
    border-radius: 0;
    width: 400px;
    margin: 0 auto;
    left: auto;
    right: auto;
    margin-bottom: -100%;
    border: 1px solid #B4A32C;
    .input-group-addon{
        background: @gris-plomo;
        border:none;
        color: white;
        padding: 5px;
    }
    .drag{
        background: white;
        box-shadow: inset 1px 2px 0px 15px @gris-plomo;
        border: none;
        border-radius:0;
    }
    output{
        color:white;
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
    }
    .close{
        color: white;
        opacity: 1.0;
    }
    #buttonsitdown {
        border-radius: 0px;
        color: white;
        background-color: #8F100D;
        border: 0px;
    }
}
.titilar{
    animation: time 20s infinite;
    transition:0.1s all ease-in-out;
}
.img-responsive{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes time {
    0%   {
        opacity: 1;
        background: green;
    }
    5%{
        opacity: 0.5;
    }
    10%   {
        opacity: 1;
    }
    15%{
        opacity: 0.5;
    }
    20%   {
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }   
    30%   {
        opacity: 1;
    }
    35%{
        opacity: 0.5;
    }
    40%   {
        opacity: 1;
    }
    45%{
        opacity: 0.5;
    }
    50%   {
        opacity: 1;
    }
    55%{
        opacity: 0.5;
    }
    60%   {
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    80%   {
        opacity: 1;
    }
    85%{
        opacity: 1;
        background: yellow;
    }
    90%   {
        opacity: 1;
    }
    100%{
        opacity: 1;
        background: yellow;
    }

}

/* Standard syntax */
@keyframes time {
    0%   {
        opacity: 1;
        background: green;
    }
    5%{
        opacity: 0.5;
    }
    10%   {
        opacity: 1;
    }
    15%{
        opacity: 0.5;
    }
    20%   {
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }   
    30%   {
        opacity: 1;
    }
    35%{
        opacity: 0.5;
    }
    40%   {
        opacity: 1;
    }
    45%{
        opacity: 0.5;
    }
    50%   {
        opacity: 1;
    }
    55%{
        opacity: 0.5;
    }
    60%   {
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    80%   {
        opacity: 1;
    }
    85%{
        opacity: 1;
        background: yellow;
    }
    90%   {
        opacity: 1;
    }
    100%{
        opacity: 1;
        background: yellow;
    }
}
.content-canvas{
    background: rgba(255,255,255,0) !important;
    max-width:1000px;
    overflow:hidden;
    height: auto;
    canvas{
        background: rgba(255,255,255,0) !important;
        width:100% !important;
        left:0px !important;

    }
}
.box-cargar-saldo{
    background: rgba(0,0,0,0.7);
    opacity:1.9 !important;
    .modal-dialog{
        height: 500px;
        background: none;
        .modal-content{
            background: none;
            //border: 0px solid white;
            border-radius: 5px;
            color:white;
            min-height:400px;
            .close{
                display: none;
            }
            input{
                color: black;
            }
        }
    }
    #total_coins{
        opacity: 1;
        font-size: 20px;
    }
}
.fondo-game{
    width:100%;
    height:auto;
    overflow:hidden;
    position:relative;
}
.other-game{
    width:100%;
    height:auto;
    overflow:hidden;
    background:@verde-oscuro;
    .fondo-mesa{
        background-image: url(../interface/images/recortes/juegos/mesa1.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 90%;
        height: 300px;
        .juego-texto1
            {
                padding-top: 56px;
                h1{
                    color:white;
                    font-size:30px;
                    text-align:center;
                }
            }
    }
}
footer{
    width: 100%;
    background: @gris-plomo !important;
    position:relative;
    clear:both;
    .pre{
        border-bottom: 1px solid white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        .redes{
            width: 180px;
            margin: 0 auto;
            position: relative;
            margin-bottom: 10px;
        }
    }
    .copy{
        color: white;
        font-size: 18px;
        padding-top: 20px;
    }
    a{
        color: white;
    }
    .telefono{
        color: white;
        padding-top: 15px;
        font-size: 20px;
    }
    .email{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.carrusel-promo{
     width: 60%;
    height: 40px;
    background: rgba(33, 33, 33, 0.8);
    margin-left: 20%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 999;
}

#frutas{
    .numb-free{
                 position: absolute;
                z-index: 99;
                width: 70px;
                height: 70px;
                background: url('../games/slot-ranas/game_1024x768/sprites/but_spin_bg.png');
                background-size: 100% 100%;
                right: 18%;
                top: 3%;
                overflow: hidden;
                display:none;
            p{
                color:white;
                text-align:center;
                line-height:70px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/frutas/cargar-saldo.jpg') !important;
        border:0px;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 140px;
               border-bottom:none !important;
            .saldo-carga{
                margin-top:100px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
               font-size: 24px;
                text-align: center;
                color:white;
                text-shadow:1px 2px rgb(0, 77, 132);
                //background:rgba(255,255,255,0.9);
                text-transform:uppercase;
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../interface/images/frutas/ganado.jpg') !important;
        border:0px;
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:block;
        margin:0 auto;
        overflow:hidden;
            margin-top: 15px;
        img{
            width:100%;
            height:auto;
            cursor:pointer;
        }
    }
    .seleccion{
           font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 40px;
    }
}
#egipcio{
    .numb-free{
                 position: absolute;
                z-index: 99;
                width: 70px;
                height: 70px;
                background: url('../games/slot-egipcio/game_1024x768/sprites/but_spin_bg.png');
                background-size: 100% 100%;
                right: 18%;
                top: 3%;
                overflow: hidden;
                display:none;
            p{
                color:white;
                text-align:center;
                line-height:70px;
                font-size:20px;
            }
        
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
        margin-top:110px;
    }
    .firstmodal{
        background: url('../interface/images/egipcio/cargar-saldo.jpg') !important;
        border:0px;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 140px;
            border:none !important;
            .saldo-carga{
                margin-top:100px;
                   border:none !important;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 24px;
                text-align: center;
                color:white;
                text-shadow:1px 2px rgb(0, 77, 132);
                //background:rgba(255,255,255,0.9);
                text-transform:uppercase;
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../interface/images/egipcio/ganado.jpg') !important;
        border:0px;
          #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
          .modal-header,  .modal-footer{
            border:none !important;
        }
    }
    .item-free{
     width: 160px;
    height: 160px;
    background: rgba(255,255,255,0.8);
    display: block;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 00px;
        img{
            width:auto;
            height:auto;
            display:block;
            margin:0 auto;
            cursor:pointer;
        }
    }
}
#ranas{
     .numb-free{
                 position: absolute;
                z-index: 99;
                width: 70px;
                height: 70px;
                background: url('../games/slot-ranas/game_1024x768/sprites/but_spin_bg.png');
                background-size: 100% 100%;
                right: 18%;
                top: 3%;
                overflow: hidden;
                display:none;
            p{
                color:white;
                text-align:center;
                line-height:70px;
                font-size:20px;
            }
        
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
        margin-top:110px;
    }
    .firstmodal{
        background: url('../interface/images/ranas/cargar-saldo.jpg') !important;
        border:0px;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 140px;
            border:none !important;
            .saldo-carga{
                margin-top:100px;
                   border:none !important;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 24px;
                text-align: center;
                color:white;
                text-shadow:1px 2px rgb(0, 77, 132);
                //background:rgba(255,255,255,0.9);
                text-transform:uppercase;
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../interface/images/ranas/ganado.jpg') !important;
        border:0px;
          #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
          .modal-header,  .modal-footer{
            border:none !important;
        }
    }
    .item-free{
     width: 160px;
    height: 160px;
    background: rgba(255,255,255,0.8);
    display: block;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 0px;
        img {
            width:auto;
            height:auto;
            display:block;
            margin:0 auto;
            cursor:pointer;
        }
    }
}

#espacial{
      .numb-free{
                 position: absolute;
                z-index: 99;
                width: 70px;
                height: 70px;
                background: url('../games/slot-ranas/game_1024x768/sprites/but_spin_bg.png');
                background-size: 100% 100%;
                right: 18%;
                top: 3%;
                overflow: hidden;
                display:none;
            p{
                color:white;
                text-align:center;
                line-height:70px;
                font-size:20px;
            }
        
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
        margin-top:110px;
    }
    .firstmodal{
        background: url('../interface/images/espacial/cargar-saldo.jpg') !important;
        border:0px;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 140px;
            border:none !important;
            .saldo-carga{
                margin-top:100px;
                   border:none !important;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 24px;
                text-align: center;
                color:white;
                text-shadow:1px 2px rgb(0, 77, 132);
                //background:rgba(255,255,255,0.9);
                text-transform:uppercase;
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../interface/images/espacial/ganado.jpg') !important;
        border:0px;
          #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
          .modal-header,  .modal-footer{
            border:none !important;
        }
    }
    .item-free{
     width: 160px;
    height: 160px;
    background: rgba(255,255,255,0.8);
    display: block;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 00px;
        img{
            width:auto;
            height:auto;
            display:block;
            margin:0 auto;
            cursor:pointer;
        }
    }
}
#marino{
        .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('../sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/marino/cargar-saldo.jpg') !important;
        border:0px;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 140px;
               border-bottom:none !important;
            .saldo-carga{
                margin-top:100px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 16px;
                text-align: center;
                color:black;
                //background:rgba(255,255,255,0.9);
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../interface/images/marino/ganado.jpg') !important;
        border:0px;
        height
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
            cursor:pointer;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
}
#candy{
        .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('http://casino4as-krondon.c9.io/sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/candy/cargar-saldo.jpg') !important;
        border:0px;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 140px;
               border-bottom:none !important;
            .saldo-carga{
                margin-top:150px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 16px;
                text-align: center;
                color:black;
                //background:rgba(255,255,255,0.9);
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../interface/images/marino/ganado.jpg') !important;
        border:0px;
        height
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
            cursor:pointer;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
}
#deportivo{
        .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('http://casino4as-krondon.c9.io/sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/deportivo/cargar-saldo.jpg') !important;
        border:0px;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 140px;
               border-bottom:none !important;
            .saldo-carga{
                margin-top:80px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 16px;
                text-align: center;
                color:black;
                //background:rgba(255,255,255,0.9);
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../games/slot-deportivo/game_1024x768/sprites/bg_menu.jpg') !important;
         background-size:100% 100% !important;
        border:0px;
        height:400px;
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
            cursor:pointer;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
}
#diamantes{
        .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('http://casino4as-krondon.c9.io/sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../games/slot-diamantes/game_1024x768/sprites/bg_menu.jpg') !important;
        border:0px;
        background-size:100% 100% !important;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 180px;
               border-bottom:none !important;
            .saldo-carga{
                margin-top:180px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 16px;
                text-align: center;
                color:black;
                //background:rgba(255,255,255,0.9);
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../games/slot-diamantes/game_1024x768/sprites/bg_menu.jpg') !important;
         background-size:100% 100% !important;
        border:0px;
        height:400px;
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
            cursor:pointer;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
}
#as{
        .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('http://casino4as-krondon.c9.io/sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/casino/cargar-saldo.jpg') !important;
        border:0px;
        background-size:100% 100% !important;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 180px;
               border-bottom:none !important;
            .saldo-carga{
                margin-top:200px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 16px;
                text-align: center;
                color:white;
                //background:rgba(255,255,255,0.9);
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../games/slot-4as/game_1024x768/sprites/bg_menu.jpg') !important;
         background-size:100% 100% !important;
        border:0px;
        height:400px;
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
}
#sensual{
        .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('http://casino4as-krondon.c9.io/sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/sensual/cargar-saldo.jpg') !important;
        border:0px;
        background-size:100% 100% !important;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 100px;
               border-bottom:none !important;
            .saldo-carga{
                margin-top:130px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 16px;
                text-align: center;
                color:white;
                //background:rgba(255,255,255,0.9);
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../games/slot-sensual/game_1024x768/sprites/bg_menu.jpg') !important;
         background-size:100% 100% !important;
        border:0px;
        height:400px;
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
            cursor:pointer;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
}
#bebidas{
        .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('http://casino4as-krondon.c9.io/sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/bebidas/cargar-saldo.jpg') !important;
        border:0px;
        background-size:100% 100% !important;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 180px;
               border-bottom:none !important;
            .saldo-carga{
                margin-top:160px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:black;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 16px;
                text-align: center;
                color:black;
                //background:rgba(255,255,255,0.9);
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../games/slot-bebidas/game_1024x768/sprites/bg_menu.jpg') !important;
         background-size:100% 100% !important;
        border:0px;
        height:400px;
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
}
#musical{
        .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('http://casino4as-krondon.c9.io/sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/musical/cargar-saldo.jpg') !important;
        border:0px;
        background-size:100% 100% !important;
         .modal-footer{
            border:none !important;
        }
        .modal-header{
            margin-top: 180px;
               border-bottom:none !important;
            .saldo-carga{
                margin-top:50px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:black;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 16px;
                text-align: center;
                color:white;
                //background:rgba(255,255,255,0.9);
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../games/slot-musical/game_1024x768/sprites/bg_menu.jpg') !important;
         background-size:100% 100% !important;
        border:0px;
        height:400px;
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
}
 
     // <!--SLOT BLACK-JACK -->    
#blackjack
    {
        .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('http://casino4as-krondon.c9.io/sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/blackjack/cargar-saldo.jpg') !important;
        border:0px;
        background-size:100% 100% !important;
         .modal-footer{
            border:none !important;
        }
         .modal-header{
            margin-top: 140px;
            border:none !important;
            .saldo-carga{
                margin-top:100px;
                   border:none !important;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 24px;
                text-align: center;
                color:white;
                text-shadow:1px 2px rgb(0, 77, 132);
                //background:rgba(255,255,255,0.9);
                text-transform:uppercase;
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../games/slot-sensual/game_1024x768/sprites/bg_menu.jpg') !important;
         background-size:100% 100% !important;
        border:0px;
        height:400px;
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
            cursor:pointer;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
    }
#videopoker{
     .numb-free{
                position: absolute;
            z-index: 99;
            
            width: 60px;
            height: 40px;
            background: url('http://casino4as-krondon.c9.io/sprites/but_spin_bg.png');
            background-size: 100% 100%;
            right: 1%;
            top: 45%;
            overflow:hidden;
            display:none;
            p{
                color:white;
                text-align:center;
                line-height:35px;
                font-size:20px;
            }
        
    }
    .firstmodal{
        background: url('../interface/images/videopoker/cargar-saldo.jpg') !important;
        border:0px;
        background-size:100% 100% !important;
         .modal-footer{
            border:none !important;
        }
                 .modal-header{
            margin-top: 140px;
            border:none !important;
            .saldo-carga{
                margin-top:100px;
                   border:none !important;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 24px;
                text-align: center;
                color:white;
                text-shadow:1px 2px rgb(0, 77, 132);
                //background:rgba(255,255,255,0.9);
                text-transform:uppercase;
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../games/slot-sensual/game_1024x768/sprites/bg_menu.jpg') !important;
         background-size:100% 100% !important;
        border:0px;
        height:400px;
        #text-win{
            text-align:center;
            color:white;
            font-weight:bold;
        }
         .modal-header, .modal-footer{
                  border:none !important;
         }
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:none;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
            cursor:pointer;
        }
    }
    .seleccion{
        font-size:20px;
        color:white;
        text-align:center;
    }
}
.celebra{
    animation: celebrar 20s infinite;
    transition:0.1s all ease-in-out;      
    font-size:36px;
    }
    
     .btn-primary{
            background-color:#cc9800;
            border-color:#b28500;
            
        }
         .btn-primary:hover{
            background-color:#b28500;
            border-color:#cc9800;
            
        }

    /* Chrome, Safari, Opera */ 
@-webkit-keyframes celebrar {
    0%   {
        opacity: 1;
        background: green;
    }
    5%{
        opacity: 0.5;
        background: red;
    }
    10%   {
        opacity: 1;
    }
    15%{
        opacity: 0.5;
        background: yellow;
    }
    20%   {
        opacity: 1;
        background: green;
    }
    25%{
        opacity: 0.5;
        background: blue;
    }   
    30%   {
        opacity: 1;
           background: red;
    }
    35%{
        opacity: 0.5;
           background: green;
    }
    40%   {
        opacity: 1;
         background: yellow;
    }
    45%{
        opacity: 0.5;
             background: blue;
    }
    50%   {
        opacity: 1;
             background: red;
    }
    55%{
        opacity: 0.5;
         background: green;
    }
    60%   {
        opacity: 1;
         background: red;
    }
    75%{
        opacity: 0.5;
          background: yellow;
    }
    80%   {
        opacity: 1;
          background: yellow;
    }
    85%{
        opacity: 1;
        background: yellow;
    }
    90%   {
        opacity: 1;
    }
    100%{
        opacity: 1;
        background: yellow;
    }

}

/* Standard syntax */
@keyframes celebrar {
       0%   {
        opacity: 1;
        background: green;
    }
    5%{
        opacity: 0.5;
        background: red;
    }
    10%   {
        opacity: 1;
    }
    15%{
        opacity: 0.5;
        background: yellow;
    }
    20%   {
        opacity: 1;
        background: green;
    }
    25%{
        opacity: 0.5;
        background: blue;
    }   
    30%   {
        opacity: 1;
           background: red;
    }
    35%{
        opacity: 0.5;
           background: green;
    }
    40%   {
        opacity: 1;
         background: yellow;
    }
    45%{
        opacity: 0.5;
             background: blue;
    }
    50%   {
        opacity: 1;
             background: red;
    }
    55%{
        opacity: 0.5;
         background: green;
    }
    60%   {
        opacity: 1;
         background: red;
    }
    75%{
        opacity: 0.5;
          background: yellow;
    }
    80%   {
        opacity: 1;
          background: yellow;
    }
    85%{
        opacity: 1;
        background: yellow;
    }
    90%   {
        opacity: 1;
    }
    100%{
        opacity: 1;
        background: yellow;
    }
}
.carrusel-publicidades{
    width:100%;
    height:50px;
    overflow:hidden;
    .item{
        width:100%;
        font-size:12px;
        color:white;
        line-height:50px;
        display:inline-block;
        vertical-aling:middle;
        a{
            color:white;
        }
    }
}
.caption{
    h3{
        color:@verde-oscuro !important;
    }
}
.select-country{
    color:white;
    option{
        color:@verde-oscuro;
    }
}
.vidrio{
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(255, 255, 255, 0.0);
    position: fixed;
    display: none;
    opacity: 0;
}
.div-chat {
    position: absolute;
    bottom: 54px;
    background-color: rgba(43,42,39,0.9);
    width: 200%;
    right: 0px;
    min-width: 220px;
    padding: 5px;
}
.console {
    height: 70px;
    width: 100%;
    margin-left: -1%;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 3px solid #731010;
    .message {
            padding-left: 5px;
            padding-right: 5px;
            color: #d3cf49;
            border-bottom: 1px solid white;
            margin-top: 4px;
            font-size: 12px;
            p{
                padding: 0px;
                margin: 0px;
            }
    }
}
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover{
    opacity: 0.8;
    background-color: #96110d;
    color: white;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align:middle;
}
@media (min-width: @screen-md-min) { 
    body{
        background-color: #103a1e;
        #apost-bote{
            display:none ;
        }
        #apost-bote-mid{
            display:none;
        }
        #apost-all{
            display:none;
        }
        .der {
            .btn-default {
                width: 90% !important;
            }
        }
        .izq{
            .btn-default{
                display: none;
            }
            .btn-responsive{
                font-size: 40px !important;
                padding: 0px !important; 
                display: inline-block;
            }
        }
    } 
}
@media (min-width: @screen-lg-min) { 
    body{
        background-color: #103a1e;
        #apost-bote{
            display:inline-block;
        }
        #apost-bote-mid{
            display:inline-block;
        }
        #apost-all{
            display:inline-block;
        }
        .der {
            .btn-default {
                width: calc(~"25% - 20px") !important;
            }
        }
        .izq {
            .btn-default{
                display: inline-block;
            }
            .btn-responsive{
                font-size: 40px !important;
                padding: 0px !important; 
                display: none;
            }
        }
    } 
    
}
.other-games{
    .thumbnail{
        img{
            height:280px !important;
        }
    }
}

@media (max-width: 1099px) {
    .caption{
        h3 {
            font-size: 16px !important;
        }
    }
    
}
@media (max-width: 991px) {
    .caption{
        h3 {
            font-size: 24px !important;
        }
    }
    
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent !important;
    // color: white;
}
ul.nav.in > li > a:focus, ul.nav.in > li > a:hover {
    color: #103a1e !important;
}